<div id="<%= dom_id funcion %>">
  <p>
    <strong>Pelicula:</strong>
    <%= funcion.pelicula_id %>
  </p>

  <p>
    <strong>Sala:</strong>
    <%= funcion.sala_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= funcion.fecha %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= funcion.precio %>
  </p>

</div>
