<!--<p style="color: green"><%#= notice %></p>-->


<div>
  <% if user_signed_in? %>
    <% @user = current_user%>
    <div class="container mt-5">
      <div class="card">
        <div class="row">
          <div class="col-md-3 ">
            <figure class = "padding">
              <%=  image_tag(url_for(@funcion.pelicula.imagen))  %>
            </figure>
          </div>
          <div class="col-md-8">

            <h2 class="card-title mt-3"><%= @funcion.pelicula.titulo%></h2>

            <h6> <span> Sala: <%= @funcion.sala.nombre%> </span> </h6>
            <h6> <span> Precio: <%= @funcion.precio%> </span> </h6>
            <h6> <span> Fecha: <%= @funcion.fecha%></span> </h6>

            <br>
            <%= form_with(model: @ticket, local: true) do |form| %>
              <%= form.hidden_field :user_id, value: current_user.id%>
              <%= form.hidden_field :funcion_id, value: @funcion.id%>
              <%= form.label :"Seleccione la cantidad de entradas", style: "display: block" %>
              <%= form.number_field :cantidad, value:1,min:1, step:1%>
              <div class="actions d-flex">
                <%= form.submit "Comprar entradas" %>
              </div>

            <%end%>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
