<p style="color: green"><%= notice %></p>

 <% if user_signed_in? %>
  <h1> Hola <%= current_user.email %> </h1>
<%end%>

<div class="container left bg-white">
  <h2>Cartelera</h2>
  <div class="row row-cols-6">
    <% @peliculas.each do |pelicula| %>
      <div class="col padding marg">
        <figure>
          <%= link_to image_tag(url_for(pelicula.imagen)), pelicula, title: pelicula.titulo %>
          <figcaption>
            <span> <%= link_to pelicula.titulo, pelicula %> </span>
          </figcaption>
        </figure>
    </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <% @user = current_user%>
  <% if @user.admin? %>
    <%= link_to "New pelicula", new_pelicula_path %>
  <% end %>
<% end %>