<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="card">
    <div class="row">
      <div class="col-md-3">
        <figure class = "padding">
          <%=  image_tag(url_for(@pelicula.imagen))  %>
        </figure>
      </div>
      <div class="col-md-8">
        <h2 class="card-title mt-3"><% @pelicula.titulo%></h2>
        <p> <%= @pelicula.descripcion%></p>
        <%= button_to "adquirir entradas", buy_path() %>
        <div>
          <a href = "https://www.youtube.com/watch?v=cFHjZfy50Kk" > VER TRAILER</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <% if user_signed_in? %>
    <% @user = current_user%>
    <% if @user.admin? %>
      <%= link_to "Edit this pelicula", edit_pelicula_path(@pelicula) %> |
      <%= link_to "Back to peliculas", peliculas_path %>
      <%= button_to "Destroy this pelicula", @pelicula, method: :delete %>

    <% end %>
  <% end %>

</div>
