<p style="color: green"><%= notice %></p>


<div class="container mt-5">
  <div class="card">
    <div class="row">
      <div class="col-md-3 ">
        <figure class = "padding">
          <%=  image_tag(url_for(@pelicula.imagen))  %>
        </figure>
      </div>
      <div class="col-md-8">

        <h2 class="card-title mt-3"><%= @pelicula.titulo%></h2>
        <p> <%= @pelicula.descripcion%></p>

        <h6> <span> Genero: <%= @pelicula.genero%> </span> </h6>
        <h6> <span> Duracion: <%= @pelicula.duracion + "min" %> </span> </h6>
        <h6> <span> Actores: <%= @pelicula.actores%></span> </h6>
        <h6> <span> Director: <%= @pelicula.director %></span> </h6>

      </div>
    </div>
  </div>


<div class="container mt-5">
  <div class="card">
    <div class = "container">
      <p align="center">
      <iframe width="560" height="315" src=<%=@pelicula.linktrailer%>>
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="card">
    <div class="btn-group" role="group" >
      <h2 class = "padding" ><strong> Funciones </strong> </h2>
      <% if user_signed_in? %>
        <% @user = current_user%>
        <% if @user.admin? %>
          <h4 class = " marg" >
            <%= link_to "Agregar Funcion", new_funcion_path %>
          </h4>
        <% end %>
      <% end %>
    </div>

    <div class="row row-cols-4">
      <%  @pelicula.funcions.map do |item|%>
        <div class = "col padding marg">
          <div class="card" style="width: 18rem;">
            <div class="card-body padding marg">
              <h5 class="card-title">
                <%= item.fecha%>
              </h5>
              <p class="card-text"><%= item.sala.nombre %></p>
              <%= button_to 'Seleccionar función', funcion_path(item), method: :get %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>


  <div class = "container center-block">
    <% if user_signed_in? %>
      <% @user = current_user%>
      <% if @user.admin? %>
        <br>
        <div class="btn-group" role="group" >

          <%= link_to button_to "Editar", edit_pelicula_path(@pelicula) %>
          &nbsp &nbsp
          <%= link_to button_to "Volver a cartelera", peliculas_path %>
          &nbsp &nbsp
          <%= button_to "Borrar de cartelera", @pelicula, method: :delete %>
          <br>
          &nbsp &nbsp
        </div>

      <% end %>
    <% end %>
  </div>
</div>