<!DOCTYPE html>
<html>
  <head>
    <title>Cinecafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.css",media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%if notice%>
      <p class = "alert alert-primary"><%= notice %></p>
    <%end%>
    <%# if alert %>
<!--      <p class = "alert alert-danger"><%#=alert %></p>-->
    <%#end%>


    <header>
      <div class="container bg-white">
        <div class="row align-items-center">
          <div class="col col-lg-1">
            <%= image_tag "taza.png", :size => "80x80"%>
          </div>
          <div class="col col-6">
            <h1>CAFEINADOS</h1>
          </div>
          <div class="col col-lg-5 align-self-end">
            <%= render "partials/nav" %>
          </div>
        </div>
      </div>
    </header>


    <%= link_to "https://github.com/ferburs/RUBY-RAILS-CAFEINADOS" do%>
    <div class="source-code-container">
      <%= image_tag "githublogo.png"%>
      <div> Source Code </div>
    </div>
    <%end%>

    <%= yield %>
  </body>
</html>
